#!/usr/bin/env python
# hanp head behavior configuration

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("point_head_height", double_t, 0, "height parameter for point head fucntionality (in meters)", 1.5, 0, 5)
gen.add("ttc_collision_dist", double_t, 0, "minimum distance between robot and human before collision (min meters)", 0.5, 0, 5)

exit(gen.generate("hanp_head_behavior", "hanp_head_behavior", "HANPHeadBehavior"))
